{
  "name": "elementals",
  "provider": "https://eth-mainnet.g.alchemy.com/v2/",
  "contractAddress": "0xb6a37b5d14d502c3ab0ae6f3a0e058bc9517786e",
  "fromBlock": 17516233,
  "toBlock": "latest",
  "category": "ERC721",
  "format": "json",
  "blocksPerBatch": 2000,
  "delay": 300
}
